<div class="row">
<table class="table table-bordered">
  <% @products.each do |@product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> $ <%= product.price %>
    </div>
  <% end %>
</table>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @newses.each do |news| %>
        <tr>
          <td>
            <%= news.created_at.to_s(:short)%>
          </td>
          <td>
            <%= news.title %>
          </td>
          <td>
            <%= news.description %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>


</div>
