<div>

  <div class="pull-right" >
    <%= link_to "新建商品", new_admin_product_path, class: "btn btn-primary" %>
  </div>

  <h2>
    Product List(<%= @products.total_entries %>)
  </h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>CategoryGroup</th>
      <th>Price</th>
      <th>Quantity</th>
      <th width="200", colspan="4"> Options</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.id %>
        </td>

        <td>
          <%= product.name %>
        </td>
        <td>
          <%= product.category.name %>
        </td>
          <td>
            <%= product.category.category_group.name %>
          </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <%= product.quantity%>
        </td>

        <td align="center">


            <div class="action-box">
            <%= link_to(edit_admin_product_path(product), class: "btn btn-md btn-default") do %>
              <span class="fa fa-pencil"></span>
            <% end %>

            <!-- 發佈 / 隱藏 -->
            <!-- <%= render_product_publish_or_hide(product) %> -->
            <% if product.is_hidden %>
              <%= link_to(publish_admin_product_path(product), :method => :post, class: "btn btn-md btn-default show-btn") do %>
                <span class="fa fa-eye"></span>
              <% end %>
            <% else %>
              <%= link_to(hide_admin_product_path(product), :method => :post, data: { confirm: "確定隱藏該商品？" }, class: "btn btn-md btn-default") do %>
                <span class="fa fa-eye-slash"></span>
              <% end %>
            <% end %>
            </div>
          </td>
          <td align="center">
          <%= link_to("Delete", admin_product_path(product), method: :delete, :class => "btn btn-danger") %>
          </td>

          <td>
          <%= link_to("向上",move_up_admin_product_path(product), method: :patch)%> |
          <%= link_to("向下",move_down_admin_product_path(product), method: :patch)%>
          </td>
          <!--=== 操作選項 ===-->

              </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @products %>
    </div>
